h1 {
    text-align: center;
    color: greenyellow;
}

body {
    background-color: rgb(83, 113, 122);
}

.section-list {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

